{% extends 'hygeia/base.html' %}


{% block title %}You have been logged out{% endblock %}
{% block content %}
<section class="user">
    <div class="container">
        <div class="row bg-light d-flex justify-content-center">
            <p class="lead text-center p-3 text-danger">
                You have been logged out
            </p>
            <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="form-group">
                        <div class="border-top pt-3 m-3  d-flex justify-content-center">
                            <small class="text-muted  text-white">
                                <a href="{% url 'login' %}" class="text-info">Sign in again</a>
                            </small>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}