{% extends 'hygeia/base.html' %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<section class="mt-1 mb-5 pb-5">
    <div class="container">
        <div class="row bg-light d-flex justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="text-success">
                            {{form.as_p}}
                            <div class="form-group text-center mt-3">
                                <button class="btn btn-outline-success" type="submit">Request Password</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}