{% extends 'hygeia/base.html' %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<section class="user">
    <div class="container mb-5 mt-5">
        <div class="row bg-light d-flex justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg-4">
                <p>Enter Your Email to request a password reset</p>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="text-danger">
                            {{form.as_p}}
                            <div class="text-center mt-3">
                                <button class="btn btn-outline-danger text-capitalize text-muted" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}