{% extends 'hygeia/base.html' %}
{% load static %}
{% block title %}Home | Wo'pharma{% endblock title %}

{% block content %}
<section class="mx-2 d-flex justify-content-between top bg-light scroll-bg shadow p-2">
  <div class="icon-logo">
    <a href="#" class="profile"><img src="{% static 'hygeia/images/wopharma.png'%}"
        class="rounded-circle image-fluid border spec-consultation" alt="pharmacy logo">
      <small class="fw-bolder font-size">@wopharma</small>
    </a>
  </div>
  <div class="d-flex align-items-center">
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search item" aria-label="Search">
      <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
  </div>
  <div class="d-flex align-items-center px-2">
    <a class="btn btn-outline-success d-block d-sm-none d-md-block d-lg-none" href="#show" role="button"><i
        class="fa-solid fa-bars"></i><span class="xtra-small d-none d-sm-block">menu</span>
    </a>
  </div>
</section>
<!--end of top bar-->
<!--booking specialist section-->
<section class="mt-2 mb-2 d-flex justify-content-center stick-top">
  <div class="d-flex justify-content-between scroll-bg">
    <small class="p-3 fw-bolder spec-consultation">Not sure of what to buy?</small>
    <span><i class="fa-solid fa-arrow-right p-3 green"></i></span>
    <a href="#" class="p-3 fw-bolder spec-consultation"> Talk to a specialist</a>
  </div>
</section>
<!--end of specialist section-->
<!--categories first section-->
<section class="mt-4">
  <div class="container">
    <h1 class="text-capitalize text-decoration-underline">Where to start</h1>
    <div class="row d-flex justify-content-between">
      <!--vitamins and supplement-->
      <div class="col-md-4 bg-light shadow" data-aos="fade-up">
        <h1 class="h6 p-2 fw-bolder">Vitamins & supplements</h1>
        <!--inner row for vitamins-->
        <div class="row">
          <!--shows only on smaller screens-->
          <div class="col-md-6 col-sm-3 d-flex justify-content-between d-block d-md-none">
            <div class="border m-1">
              <img src="{% static 'hygeia/images/herbal.png' %}" alt="vitamins" class="w-100 img-fluid">
            </div>
            <div>
              <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti.</small>
              <p class="text-center"><a href="#" class="green"><i class="fa-solid fa-chevron-right"></i> see all</a></p>
            </div>
          </div>
          <!--end of show on only small screens-->
          <div class="col-md-6 d-none d-sm-block border">
            <a href="#" class="text-dark">
              <img src="{% static 'hygeia/images/baby.png' %}" alt="vitamins" class="w-100 img-fluid">
              <p class="fw-bolder mb-1">Vitamin syrup</p>
              <p class="fw-bolder mt-1">Price: Ghs20.0</p>
            </a>
            </a>
          </div>
          <div class="col-md-6 d-none d-sm-block d-md-block border">
            <a href="#" class="text-dark">
              <img src="{% static 'hygeia/images/baby.png' %}" alt="vitamins" class="w-100 img-fluid">
              <p class="fw-bolder mb-1">Vitamin syrup</p>
              <p class="fw-bolder mt-1">Price: Ghs20.0</p>
            </a>
            </a>
          </div>
          <div class="col-md-6 d-none d-sm-block d-md-block border">
            <a href="#" class="text-dark">
              <img src="{% static 'hygeia/images/vits.jpg' %}" alt="vitamins" class="w-100 img-fluid">
              <p class="fw-bolder mb-1">Vitamin syrup</p>
              <p class="fw-bolder mt-1">Price: Ghs20.0</p>
            </a>
            </a>
          </div>
          <div class="col-md-6 d-none d-sm-block d-md-block border">
            <a href="#" class="text-dark"><img src="{% static 'hygeia/images/herbal.png' %}" alt="vitamins"
                class="w-100 img-fluid">
              <p class="fw-bolder mb-1">Vitamin syrup</p>
              <p class="fw-bolder mt-1">Price: Ghs20.0</p>
            </a>
          </div>
        </div>
        <div class="d-none d-md-block">
          <a href="#" class="green"><i class="fa-solid fa-chevron-right"></i> See all</a>
        </div>
      </div>
      <!--end of vitamins and supplement-->
      <!--baby food-->
      <div class="col-md-4 bg-light shadow" data-aos="fade-up">
        <h1 class="h6 p-2 fw-bolder mt-2">Baby Food</h1>
        <!--inner row for baby food-->
        <div class="row">
          <!--show on only small screens-->
          <div class="col-md-6 col-sm-3 d-flex justify-content-between d-block d-md-none">
            <div class="border m-1">
              <img src="{% static 'hygeia/images/vits.jpg' %}" alt="vitamins" class="w-100 img-fluid">
            </div>
            <div>
              <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti.</small>
              <p class="text-center"><a href="#" class="green"><i class="fa-solid fa-chevron-right"></i> see all</a></p>
            </div>
          </div>
          <!--end of show on only small screens-->
          <div class="col-md-6 d-none d-sm-block border">
            <a href="#" class="text-dark">
              <img src="{% static 'hygeia/images/baby.png' %}" alt="vitamins" class="w-100 img-fluid">
              <p class="fw-bolder mb-1">Vitamin syrup</p>
              <p class="fw-bolder mt-1">Price: Ghs20.0</p>
            </a>
            </a>
          </div>
          <div class="col-md-6 d-none d-sm-block d-md-block border">
            <a href="#" class="text-dark">
              <img src="{% static 'hygeia/images/baby.png' %}" alt="vitamins" class="w-100 img-fluid">
              <p class="fw-bolder mb-1">Vitamin syrup</p>
              <p class="fw-bolder mt-1">Price: Ghs20.0</p>
            </a>
            </a>
          </div>
          <div class="col-md-6 d-none d-sm-block d-md-block border">
            <a href="#" class="text-dark">
              <img src="{% static 'hygeia/images/vits.jpg' %}" alt="vitamins" class="w-100 img-fluid">
              <p class="fw-bolder mb-1">Vitamin syrup</p>
              <p class="fw-bolder mt-1">Price: Ghs20.0</p>
            </a>
            </a>
          </div>
          <div class="col-md-6 d-none d-sm-block d-md-block border">
            <a href="#" class="text-dark"><img src="{% static 'hygeia/images/herbal.png' %}" alt="vitamins"
                class="w-100 img-fluid">
              <p class="fw-bolder mb-1">Vitamin syrup</p>
              <p class="fw-bolder mt-1">Price: Ghs20.0</p>
            </a>
          </div>
        </div>
        <div class="d-none d-md-block">
          <a href="#" class="green"><i class="fa-solid fa-chevron-right"></i> See all</a>
        </div>
      </div>
      <div class="col-md-3 bg-light shadow text-center p-3" data-aos="fade-up">
        <h1 class="h6 fw-bolder mt-2 text-warning">Join today and get 10% discount</h1>
        <p>It is free and easy</p>
        <a href="#" class="green special-link p-2">Create account</a>
        <p class="pt-3 d-none d-sm-block">Get the feelings of what it means to be part of this family.</p>
        <a href="#" class="text-muted text-decoration-underline">sign in</a>
      </div>
    </div>
  </div>
</section>
<!--end of categories first section-->
<!--categories second section-->
<section class="mt-4">
  <div class="container">
    <div class="row">
      <!--vitamins and supplement-->
      <div class="col-md-3 m-1 bg-light shadow" data-aos="fade-up">
        <h1 class="h6 p-2 fw-bolder">Sex &amp; Enhancement</h1>
        <!--inner row for vitamins-->
        <div class="row">
          <!--shows only on smaller screens-->
          <div class="col-md-6 col-sm-3 d-flex justify-content-between d-block d-md-none">
            <div class="border m-1">
              <img src="{% static 'hygeia/images/herbal.png' %}" alt="vitamins" class="w-100 img-fluid">
            </div>
            <div>
              <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti.</small>
              <p class="text-center"><a href="#" class="green"><i class="fa-solid fa-chevron-right"></i> see all</a></p>
            </div>
          </div>
          <!--end of show on only small screens-->
          <div class="col-md-6 d-none d-sm-block border">
            <a href="#" class="text-dark">
              <img src="{% static 'hygeia/images/baby.png' %}" alt="vitamins" class="w-100 img-fluid">
              <p class="fw-bolder mb-1">Vitamin syrup</p>
              <p class="fw-bolder mt-1">Price: Ghs20.0</p>
            </a>
            </a>
          </div>
          <div class="col-md-6 d-none d-sm-block d-md-block border">
            <a href="#" class="text-dark">
              <img src="{% static 'hygeia/images/baby.png' %}" alt="vitamins" class="w-100 img-fluid">
              <p class="fw-bolder mb-1">Vitamin syrup</p>
              <p class="fw-bolder mt-1">Price: Ghs20.0</p>
              </a>
              </a>
          </div>
          <div class="col-md-6 d-none d-sm-block d-md-block border">
            <a href="#" class="text-dark">
              <img src="{% static 'hygeia/images/vits.jpg' %}" alt="vitamins" class="w-100 img-fluid">
              <p class="fw-bolder mb-1">Vitamin syrup</p>
              <p class="fw-bolder mt-1">Price: Ghs20.0</p>
              </a>
              </a>
          </div>
          <div class="col-md-6 d-none d-sm-block d-md-block border">
            <a href="#" class="text-dark"><img src="{% static 'hygeia/images/herbal.png' %}" alt="vitamins" class="w-100 img-fluid">
              <p class="fw-bolder mb-1">Vitamin syrup</p>
              <p class="fw-bolder mt-1">Price: Ghs20.0</p>
            </a>
          </div>
        </div>
        <div class="d-none d-md-block">
          <a href="#" class="green"><i class="fa-solid fa-chevron-right"></i> See all</a>
        </div>
      </div>
      <!--end of vitamins and supplement-->
      <!--baby food-->
      <div class="col-md-3 m-1 bg-light shadow" data-aos="fade-up">
        <h1 class="h6 p-2 fw-bolder mt-2">Cosmetics</h1>
        <!--inner row for baby food-->
        <div class="row">
          <!--show on only small screens-->
          <div class="col-md-6 col-sm-3 d-flex justify-content-between d-block d-md-none">
            <div class="border m-1">
              <img src="{% static 'hygeia/images/vits.jpg' %}" alt="vitamins" class="w-100 img-fluid">
            </div>
            <div>
              <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti.</small>
              <p class="text-center"><a href="#" class="green"><i class="fa-solid fa-chevron-right"></i> see all</a></p>
            </div>
          </div>
          <!--end of show on only small screens-->
          <div class="col-md-6 d-none d-sm-block border">
            <a href="#" class="text-dark">
              <img src="{% static 'hygeia/images/baby.png' %}" alt="vitamins" class="w-100 img-fluid">
              <p class="fw-bolder mb-1">Vitamin syrup</p>
              <p class="fw-bolder mt-1">Price: Ghs20.0</p>
            </a>
            </a>
          </div>
          <div class="col-md-6 d-none d-sm-block d-md-block border">
            <a href="#" class="text-dark">
              <img src="{% static 'hygeia/images/baby.png' %}" alt="vitamins" class="w-100 img-fluid">
              <p class="fw-bolder mb-1">Vitamin syrup</p>
              <p class="fw-bolder mt-1">Price: Ghs20.0</p>
              </a>
              </a>
          </div>
          <div class="col-md-6 d-none d-sm-block d-md-block border">
            <a href="#" class="text-dark">
              <img src="{% static 'hygeia/images/vits.jpg' %}" alt="vitamins" class="w-100 img-fluid">
              <p class="fw-bolder mb-1">Vitamin syrup</p>
              <p class="fw-bolder mt-1">Price: Ghs20.0</p>
              </a>
              </a>
          </div>
          <div class="col-md-6 d-none d-sm-block d-md-block border">
            <a href="#" class="text-dark"><img src="{% static 'hygeia/images/herbal.png' %}" alt="vitamins" class="w-100 img-fluid">
              <p class="fw-bolder mb-1">Vitamin syrup</p>
              <p class="fw-bolder mt-1">Price: Ghs20.0</p>
            </a>
          </div>
        </div>
        <div class="d-none d-md-block">
          <a href="#" class="green"><i class="fa-solid fa-chevron-right"></i> See all</a>
        </div>
      </div>
      <div class="col-md-5 m-1 bg-light shadow" data-aos="fade-up">
        <h1 class="h6 p-2 fw-bolder mt-2">Home Care</h1>
        <!--inner row for baby food-->
        <div class="row">
          <!--show on only small screens-->
          <div class="col-md-6 col-sm-3 d-flex justify-content-between d-block d-md-none">
            <div class="border m-1">
              <img src="{% static 'hygeia/images/vits.jpg' %}" alt="vitamins" class="w-100 img-fluid">
            </div>
            <div>
              <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti.</small>
              <p class="text-center"><a href="#" class="green"><i class="fa-solid fa-chevron-right"></i> see all</a></p>
            </div>
          </div>
          <!--end of show on only small screens-->
          <div class="col-md-6 d-none d-sm-block border">
            <a href="#" class="text-dark">
              <img src="{% static 'hygeia/images/baby.png' %}" alt="vitamins" class="w-100 img-fluid">
              <p class="fw-bolder mb-1">Vitamin syrup</p>
              <p class="fw-bolder mt-1">Price: Ghs20.0</p>
            </a>
            </a>
          </div>
          <div class="col-md-6 d-none d-sm-block d-md-block border">
            <a href="#" class="text-dark">
              <img src="{% static 'hygeia/images/baby.png' %}" alt="vitamins" class="w-100 img-fluid">
              <p class="fw-bolder mb-1">Vitamin syrup</p>
              <p class="fw-bolder mt-1">Price: Ghs20.0</p>
              </a>
              </a>
          </div>
          <div class="col-md-6 d-none d-sm-block d-md-block border">
            <a href="#" class="text-dark">
              <img src="{% static 'hygeia/images/vits.jpg' %}" alt="vitamins" class="w-100 img-fluid">
              <p class="fw-bolder mb-1">Vitamin syrup</p>
              <p class="fw-bolder mt-1">Price: Ghs20.0</p>
              </a>
              </a>
          </div>
          <div class="col-md-6 d-none d-sm-block d-md-block border">
            <a href="#" class="text-dark"><img src="{% static 'hygeia/images/herbal.png' %}" alt="vitamins" class="w-100 img-fluid">
              <p class="fw-bolder mb-1">Vitamin syrup</p>
              <p class="fw-bolder mt-1">Price: Ghs20.0</p>
            </a>
          </div>
        </div>
        <div class="d-none d-md-block">
          <a href="#" class="green"><i class="fa-solid fa-chevron-right"></i> See all</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--end of categories second section-->
<!--just for you section-->
<div class="d-flex justify-content-center mt-5 mb-5 text-decoration-underline">
  <h1>Curated Just For You</h1>
</div>
<hr>
<section class="container-fluid overflow-hidden">
  <div class="row d-flex justify-content-center">
    <div class="col-md-3 col-lg-2 col-sm-2 p-3 m-1 border-curated bg-light shadow" data-aos="fade-up">
      <a href="#">
        <figure class="figure">
          <div class="d-flex justify-content-between">
            <small class="card-title"><span class="red">Men's Health</span> <span></small>
            <small class="fw-bolder price">Ghs 20.00</small>
          </div>
          <div class="text-center">
            <img src="{% static 'hygeia/images/product3.png' %}" class="figure-img img-fluid rounded"
              alt="first product">
          </div>
          <figcaption class="figure-caption pt-0 mt-0 text-capitalize">
            <strong>
              <p>Ibuprofen 200mg. very good for treating headache, fever, rheumatism</p>
            </strong>
          </figcaption>
        </figure>
      </a>
      <div class="d-flex justify-content-between border-top buts">
        <button class="btn btn-sm-outline"><i class="fa-regular fa-thumbs-up"></i></button>
        <button class="btn btn-sm-outline"><i class="fa-solid fa-share-nodes"></i></button>
        <button class="btn btn-sm-outline"><i class="fa-solid fa-cart-plus"></i></button>
      </div>
    </div>
    <div class="col-md-3 col-lg-2 col-sm-2 p-3 m-1 border-curated bg-light shadow" data-aos="fade-up">
      <a href="#">
        <figure class="figure">
          <div class="d-flex justify-content-between">
            <small class="card-title"><span class="red">Men's Health</span> <span></small>
            <small class="fw-bolder price">Ghs 20.00</small>
          </div>
          <div class="text-center">
            <img src="{% static 'hygeia/images/product3.png' %}" class="figure-img img-fluid rounded"
              alt="first product">
          </div>
          <figcaption class="figure-caption pt-0 mt-0 text-capitalize">
            <strong>
              <p>Ibuprofen 200mg. very good for treating headache, fever, rheumatism</p>
            </strong>
          </figcaption>
        </figure>
      </a>
      <div class="d-flex justify-content-between border-top buts">
        <button class="btn btn-sm-outline"><i class="fa-regular fa-thumbs-up"></i></button>
        <button class="btn btn-sm-outline"><i class="fa-solid fa-share-nodes"></i></button>
        <button class="btn btn-sm-outline"><i class="fa-solid fa-cart-plus"></i></button>
      </div>
    </div>
    <div class="col-md-3 col-lg-2 col-sm-2 p-3 m-1 border-curated bg-light shadow" data-aos="fade-up">
      <a href="#">
        <figure class="figure">
          <div class="d-flex justify-content-between">
            <small class="card-title"><span class="red">Men's Health</span> <span></small>
            <small class="fw-bolder price">Ghs 20.00</small>
          </div>
          <div class="text-center">
            <img src="{% static 'hygeia/images/product3.png' %}" class="figure-img img-fluid rounded"
              alt="first product">
          </div>
          <figcaption class="figure-caption pt-0 mt-0 text-capitalize">
            <strong>
              <p>Ibuprofen 200mg. very good for treating headache, fever, rheumatism</p>
            </strong>
          </figcaption>
        </figure>
      </a>
      <div class="d-flex justify-content-between border-top buts">
        <button class="btn btn-sm-outline"><i class="fa-regular fa-thumbs-up"></i></button>
        <button class="btn btn-sm-outline"><i class="fa-solid fa-share-nodes"></i></button>
        <button class="btn btn-sm-outline"><i class="fa-solid fa-cart-plus"></i></button>
      </div>
    </div>
    <div class="col-md-3 col-lg-2 col-sm-2 p-3 m-1 border-curated bg-light shadow" data-aos="fade-up">
      <a href="#">
        <figure class="figure">
          <div class="d-flex justify-content-between">
            <small class="card-title"><span class="red">Men's Health</span> <span></small>
            <small class="fw-bolder price">Ghs 20.00</small>
          </div>
          <div class="text-center">
            <img src="{% static 'hygeia/images/product3.png' %}" class="figure-img img-fluid rounded"
              alt="first product">
          </div>
          <figcaption class="figure-caption pt-0 mt-0 text-capitalize">
            <strong>
              <p>Ibuprofen 200mg. very good for treating headache, fever, rheumatism</p>
            </strong>
          </figcaption>
        </figure>
      </a>
      <div class="d-flex justify-content-between border-top buts">
        <button class="btn btn-sm-outline"><i class="fa-regular fa-thumbs-up"></i></button>
        <button class="btn btn-sm-outline"><i class="fa-solid fa-share-nodes"></i></button>
        <button class="btn btn-sm-outline"><i class="fa-solid fa-cart-plus"></i></button>
      </div>
    </div>
    <div class="col-md-3 col-lg-2 col-sm-2 p-3 m-1 border-curated bg-light shadow" data-aos="fade-up">
      <a href="#">
        <figure class="figure">
          <div class="d-flex justify-content-between">
            <small class="card-title"><span class="red">Men's Health</span> <span></small>
            <small class="fw-bolder price">Ghs 20.00</small>
          </div>
          <div class="text-center">
            <img src="{% static 'hygeia/images/product3.png' %}" class="figure-img img-fluid rounded"
              alt="first product">
          </div>
          <figcaption class="figure-caption pt-0 mt-0 text-capitalize">
            <strong>
              <p>Ibuprofen 200mg. very good for treating headache, fever, rheumatism</p>
            </strong>
          </figcaption>
        </figure>
      </a>
      <div class="d-flex justify-content-between border-top buts">
        <button class="btn btn-sm-outline"><i class="fa-regular fa-thumbs-up"></i></button>
        <button class="btn btn-sm-outline"><i class="fa-solid fa-share-nodes"></i></button>
        <button class="btn btn-sm-outline"><i class="fa-solid fa-cart-plus"></i></button>
      </div>
    </div>
    <div class="col-md-3 col-lg-2 col-sm-2 p-3 m-1 border-curated bg-light shadow" data-aos="fade-up">
      <a href="#">
        <figure class="figure">
          <div class="d-flex justify-content-between">
            <small class="card-title"><span class="red">Men's Health</span> <span></small>
            <small class="fw-bolder price">Ghs 20.00</small>
          </div>
          <div class="text-center">
            <img src="{% static 'hygeia/images/product3.png' %}" class="figure-img img-fluid rounded"
              alt="first product">
          </div>
          <figcaption class="figure-caption pt-0 mt-0 text-capitalize">
            <strong>
              <p>Ibuprofen 200mg. very good for treating headache, fever, rheumatism</p>
            </strong>
          </figcaption>
        </figure>
      </a>
      <div class="d-flex justify-content-between border-top buts">
        <button class="btn btn-sm-outline"><i class="fa-regular fa-thumbs-up"></i></button>
        <button class="btn btn-sm-outline"><i class="fa-solid fa-share-nodes"></i></button>
        <button class="btn btn-sm-outline"><i class="fa-solid fa-cart-plus"></i></button>
      </div>
    </div>
    <div class="col-md-3 col-lg-2 col-sm-2 p-3 m-1 border-curated bg-light shadow" data-aos="fade-up">
      <a href="#">
        <figure class="figure">
          <div class="d-flex justify-content-between">
            <small class="card-title"><span class="red">Men's Health</span> <span></small>
            <small class="fw-bolder price">Ghs 20.00</small>
          </div>
          <div class="text-center">
            <img src="{% static 'hygeia/images/product3.png' %}" class="figure-img img-fluid rounded"
              alt="first product">
          </div>
          <figcaption class="figure-caption pt-0 mt-0 text-capitalize">
            <strong>
              <p>Ibuprofen 200mg. very good for treating headache, fever, rheumatism</p>
            </strong>
          </figcaption>
        </figure>
      </a>
      <div class="d-flex justify-content-between border-top buts">
        <button class="btn btn-sm-outline"><i class="fa-regular fa-thumbs-up"></i></button>
        <button class="btn btn-sm-outline"><i class="fa-solid fa-share-nodes"></i></button>
        <button class="btn btn-sm-outline"><i class="fa-solid fa-cart-plus"></i></button>
      </div>
    </div>
    <div class="col-md-3 col-lg-2 col-sm-2 p-3 m-1 border-curated bg-light shadow" data-aos="fade-up">
      <a href="#">
        <figure class="figure">
          <div class="d-flex justify-content-between">
            <small class="card-title"><span class="red">Men's Health</span> <span></small>
            <small class="fw-bolder price">Ghs 20.00</small>
          </div>
          <div class="text-center">
            <img src="{% static 'hygeia/images/product3.png' %}" class="figure-img img-fluid rounded"
              alt="first product">
          </div>
          <figcaption class="figure-caption pt-0 mt-0 text-capitalize">
            <strong>
              <p>Ibuprofen 200mg. very good for treating headache, fever, rheumatism</p>
            </strong>
          </figcaption>
        </figure>
      </a>
      <div class="d-flex justify-content-between border-top buts">
        <button class="btn btn-sm-outline"><i class="fa-regular fa-thumbs-up"></i></button>
        <button class="btn btn-sm-outline"><i class="fa-solid fa-share-nodes"></i></button>
        <button class="btn btn-sm-outline"><i class="fa-solid fa-cart-plus"></i></button>
      </div>
    </div>
    <div class="col-md-3 col-lg-2 col-sm-2 p-3 m-1 border-curated bg-light shadow" data-aos="fade-up">
      <a href="#">
        <figure class="figure">
          <div class="d-flex justify-content-between">
            <small class="card-title"><span class="red">Men's Health</span> <span></small>
            <small class="fw-bolder price">Ghs 20.00</small>
          </div>
          <div class="text-center">
            <img src="{% static 'hygeia/images/product3.png' %}" class="figure-img img-fluid rounded"
              alt="first product">
          </div>
          <figcaption class="figure-caption pt-0 mt-0 text-capitalize">
            <strong>
              <p>Ibuprofen 200mg. very good for treating headache, fever, rheumatism</p>
            </strong>
          </figcaption>
        </figure>
      </a>
      <div class="d-flex justify-content-between border-top buts">
        <button class="btn btn-sm-outline"><i class="fa-regular fa-thumbs-up"></i></button>
        <button class="btn btn-sm-outline"><i class="fa-solid fa-share-nodes"></i></button>
        <button class="btn btn-sm-outline"><i class="fa-solid fa-cart-plus"></i></button>
      </div>
    </div>
    <div class="col-md-3 col-lg-2 col-sm-2 p-3 m-1 border-curated bg-light shadow" data-aos="fade-up">
      <a href="#">
        <figure class="figure">
          <div class="d-flex justify-content-between">
            <small class="card-title"><span class="red">Men's Health</span> <span></small>
            <small class="fw-bolder price">Ghs 20.00</small>
          </div>
          <div class="text-center">
            <img src="{% static 'hygeia/images/product3.png' %}" class="figure-img img-fluid rounded"
              alt="first product">
          </div>
          <figcaption class="figure-caption pt-0 mt-0 text-capitalize">
            <strong>
              <p>Ibuprofen 200mg. very good for treating headache, fever, rheumatism</p>
            </strong>
          </figcaption>
        </figure>
      </a>
      <div class="d-flex justify-content-between border-top buts">
        <button class="btn btn-sm-outline"><i class="fa-regular fa-thumbs-up"></i></button>
        <button class="btn btn-sm-outline"><i class="fa-solid fa-share-nodes"></i></button>
        <button class="btn btn-sm-outline"><i class="fa-solid fa-cart-plus"></i></button>
      </div>
    </div>
    <div class="col-md-3 col-lg-2 col-sm-2 p-3 m-1 border-curated bg-light shadow" data-aos="fade-up">
      <a href="#">
        <figure class="figure">
          <div class="d-flex justify-content-between">
            <small class="card-title"><span class="red">Men's Health</span> <span></small>
            <small class="fw-bolder price">Ghs 20.00</small>
          </div>
          <div class="text-center">
            <img src="{% static 'hygeia/images/product3.png' %}" class="figure-img img-fluid rounded"
              alt="first product">
          </div>
          <figcaption class="figure-caption pt-0 mt-0 text-capitalize">
            <strong>
              <p>Ibuprofen 200mg. very good for treating headache, fever, rheumatism</p>
            </strong>
          </figcaption>
        </figure>
      </a>
      <div class="d-flex justify-content-between border-top buts">
        <button class="btn btn-sm-outline"><i class="fa-regular fa-thumbs-up"></i></button>
        <button class="btn btn-sm-outline"><i class="fa-solid fa-share-nodes"></i></button>
        <button class="btn btn-sm-outline"><i class="fa-solid fa-cart-plus"></i></button>
      </div>
    </div>
    <div class="col-md-3 col-lg-2 col-sm-2 p-3 m-1 border-curated bg-light shadow" data-aos="fade-up">
      <a href="#">
        <figure class="figure">
          <div class="d-flex justify-content-between">
            <small class="card-title"><span class="red">Men's Health</span> <span></small>
            <small class="fw-bolder price">Ghs 20.00</small>
          </div>
          <div class="text-center">
            <img src="{% static 'hygeia/images/product3.png' %}" class="figure-img img-fluid rounded"
              alt="first product">
          </div>
          <figcaption class="figure-caption pt-0 mt-0 text-capitalize">
            <strong>
              <p>Ibuprofen 200mg. very good for treating headache, fever, rheumatism</p>
            </strong>
          </figcaption>
        </figure>
      </a>
      <div class="d-flex justify-content-between border-top buts">
        <button class="btn btn-sm-outline"><i class="fa-regular fa-thumbs-up"></i></button>
        <button class="btn btn-sm-outline"><i class="fa-solid fa-share-nodes"></i></button>
        <button class="btn btn-sm-outline"><i class="fa-solid fa-cart-plus"></i></button>
      </div>
    </div>
    <div class="col-md-3 col-lg-2 col-sm-2 p-3 m-1 border-curated bg-light shadow" data-aos="fade-up">
      <a href="#">
        <figure class="figure">
          <div class="d-flex justify-content-between">
            <small class="card-title"><span class="red">Men's Health</span> <span></small>
            <small class="fw-bolder price">Ghs 20.00</small>
          </div>
          <div class="text-center">
            <img src="{% static 'hygeia/images/product3.png' %}" class="figure-img img-fluid rounded"
              alt="first product">
          </div>
          <figcaption class="figure-caption pt-0 mt-0 text-capitalize">
            <strong>
              <p>Ibuprofen 200mg. very good for treating headache, fever, rheumatism</p>
            </strong>
          </figcaption>
        </figure>
      </a>
      <div class="d-flex justify-content-between border-top buts">
        <button class="btn btn-sm-outline"><i class="fa-regular fa-thumbs-up"></i></button>
        <button class="btn btn-sm-outline"><i class="fa-solid fa-share-nodes"></i></button>
        <button class="btn btn-sm-outline"><i class="fa-solid fa-cart-plus"></i></button>
      </div>
    </div>
    <div class="col-md-3 col-lg-2 col-sm-2 p-3 m-1 border-curated bg-light shadow" data-aos="fade-up">
      <a href="#">
        <figure class="figure">
          <div class="d-flex justify-content-between">
            <small class="card-title"><span class="red">Men's Health</span> <span></small>
            <small class="fw-bolder price">Ghs 20.00</small>
          </div>
          <div class="text-center">
            <img src="{% static 'hygeia/images/product3.png' %}" class="figure-img img-fluid rounded"
              alt="first product">
          </div>
          <figcaption class="figure-caption pt-0 mt-0 text-capitalize">
            <strong>
              <p>Ibuprofen 200mg. very good for treating headache, fever, rheumatism</p>
            </strong>
          </figcaption>
        </figure>
      </a>
      <div class="d-flex justify-content-between border-top buts">
        <button class="btn btn-sm-outline"><i class="fa-regular fa-thumbs-up"></i></button>
        <button class="btn btn-sm-outline"><i class="fa-solid fa-share-nodes"></i></button>
        <button class="btn btn-sm-outline"><i class="fa-solid fa-cart-plus"></i></button>
      </div>
    </div>
    <div class="col-md-3 col-lg-2 col-sm-2 p-3 m-1 border-curated bg-light shadow" data-aos="fade-up">
      <a href="#">
        <figure class="figure">
          <div class="d-flex justify-content-between">
            <small class="card-title"><span class="red">Men's Health</span> <span></small>
            <small class="fw-bolder price">Ghs 20.00</small>
          </div>
          <div class="text-center">
            <img src="{% static 'hygeia/images/product3.png' %}" class="figure-img img-fluid rounded"
              alt="first product">
          </div>
          <figcaption class="figure-caption pt-0 mt-0 text-capitalize">
            <strong>
              <p>Ibuprofen 200mg. very good for treating headache, fever, rheumatism</p>
            </strong>
          </figcaption>
        </figure>
      </a>
      <div class="d-flex justify-content-between border-top buts">
        <button class="btn btn-sm-outline"><i class="fa-regular fa-thumbs-up"></i></button>
        <button class="btn btn-sm-outline"><i class="fa-solid fa-share-nodes"></i></button>
        <button class="btn btn-sm-outline"><i class="fa-solid fa-cart-plus"></i></button>
      </div>
    </div>
  </div>
  <div class="text-center mt-3">
    <a href="#" class="green all-link p-2">View all Products <i class="fa-solid fa-chevron-right"></i></a>
  </div>
</section>
<!--categories third section-->
<section class="mt-4">
  <div class="container">
    <h1 class="m-2 text-decoration-underline">Also</h1>
    <div class="row d-flex justify-content-between">
      <!--herbal-->
      <div class="col-md-4 bg-light shadow" data-aos="fade-up">
        <h1 class="h6 p-2 fw-bolder">Snacks & Confectioneries</h1>
        <!--inner row for herbal-->
        <div class="row">
          <div class="col-md-6 col-sm-3 d-flex justify-content-between">
            <div class="border m-1">
              <img src="{% static 'hygeia/images/herbal.png' %}" alt="vitamins" class="w-100 img-fluid">
            </div>
            <div class="d-block d-md-none">
              <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti.</small>
              <p class="text-center"><a href="#" class="green"><i class="fa-solid fa-chevron-right"></i> see all</a></p>
            </div>
          </div>
          <div class="col-md-6 d-none d-sm-block d-md-block border">
            <a href="#" class="text-dark"><img src="{% static 'hygeia/images/baby.png' %}" alt="vitamins" class="w-100 img-fluid">
              <p class="fw-bolder mb-1">Vitamin syrup</p>
              <p class="fw-bolder mt-1">Price: Ghs20.0</p>
            </a>
          </div>
          <div class="col-md-6 d-none d-sm-block d-md-block border">
            <a href="#" class="text-dark">
              <img src="{% static 'hygeia/images/vits.jpg' %}" alt="vitamins" class="w-100 img-fluid">
              <p class="fw-bolder mb-1">Vitamin syrup</p>
              <p class="fw-bolder mt-1">Price: Ghs20.0</p>
              </a>
          </div>
          <div class="col-md-6 d-none d-sm-block d-md-block border">
            <a href="#" class="text-dark">
              <img src="{% static 'hygeia/images/herbal.png' %}" alt="vitamins" class="w-100 img-fluid">
              <p class="fw-bolder mb-1">Vitamin syrup</p>
              <p class="fw-bolder mt-1">Price: Ghs20.0</p>
              </a>
          </div>
        </div>
        <div class="d-none d-md-block">
          <a href="#" class="green"><i class="fa-solid fa-chevron-right"></i> See all</a>
        </div>
      </div>
      <!--end of herbal-->
      <!--Sex & Enhancement-->
      <div class="col-md-4 bg-light shadow" data-aos="fade-up">
        <h1 class="h6 p-2 fw-bolder mt-2">Home Care</h1>
        <!--inner row for Sex & Enhancement-->
        <div class="row">
          <div class="col-md-6 col-sm-3 d-flex justify-content-between">
            <div class="border m-1">
              <img src="{% static 'hygeia/images/vits.jpg' %}" alt="vitamins" class="w-100 img-fluid">
            </div>
            <div class="d-block d-md-none">
              <small>Get it right tonight. Let the feelings be memorable</small>
              <p class="text-center"><a href="#" class="green"><i class="fa-solid fa-chevron-right"></i> see all</a></p>
            </div>
          </div>
          <div class="col-md-6 d-none d-sm-block d-md-block border">
            <img src="{% static 'hygeia/images/baby.png' %}" alt="vitamins" class="w-100 img-fluid">
          </div>
          <div class="col-md-6 d-none d-sm-block d-md-block border">
            <img src="{% static 'hygeia/images/vits.jpg' %}" alt="vitamins" class="w-100 img-fluid">
          </div>
          <div class="col-md-6 d-none d-sm-block d-md-block border">
            <img src="{% static 'hygeia/images/herbal.png' %}" alt="vitamins" class="w-100 img-fluid">
          </div>
        </div>
        <div class="d-none d-md-block">
          <a href="#" class="green"><i class="fa-solid fa-chevron-right"></i> See all</a>
        </div>
      </div>
      <!--cosmetics-->
      <div class="col-md-3 bg-light shadow" data-aos="fade-up">
        <h1 class="h6 p-2 fw-bolder mt-2">Sundries</h1>
        <div class="row">
          <div class="col-md-6 col-sm-3 d-flex justify-content-between">
            <div class="border m-1">
              <img src="{% static 'hygeia/images/vits.jpg' %}" alt="vitamins" class="w-100 img-fluid">
            </div>
            <div class="d-block d-md-none">
              <small>Get it right tonight. Let the feelings be memorable</small>
              <p class="text-center"><a href="#" class="green"><i class="fa-solid fa-chevron-right"></i> see all</a></p>
            </div>
          </div>
          <div class="col-md-6 d-none d-sm-block d-md-block border">
            <img src="{% static 'hygeia/images/baby.png' %}" alt="vitamins" class="w-100 img-fluid">
          </div>
          <div class="col-md-6 d-none d-sm-block d-md-block border">
            <img src="{% static 'hygeia/images/vits.jpg' %}" alt="vitamins" class="w-100 img-fluid">
          </div>
          <div class="col-md-6 d-none d-sm-block d-md-block border">
            <img src="{% static 'hygeia/images/herbal.png' %}" alt="vitamins" class="w-100 img-fluid">
          </div>
        </div>
        <div class="d-none d-md-block">
          <a href="#" class="green"><i class="fa-solid fa-chevron-right"></i> See all</a>
        </div>
      </div>
      <!--end of cosmetics-->
    </div>
  </div>
</section>
<!--end of categories third section-->
<!--sign up-->
<section class="mt-5 life-bg">
  <div class="container-fluid p-3 c-border">
    <div class="row" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="col-md-6 col-sm-12">
        <img src="{% static 'hygeia/images/g.gif' %}" class="w-100 img-border d-none d-sm-block" alt="#">
      </div>
      <div class="col-md-4 col-sm-12 text-center d-flex justify-content-end align-items-center">
        <div>
          <h1 class="fw-bolder">Wo'<span class="green">Pharma</span></h1>
          <p class="hero">Your pharmacy for life. Your life counts a billion times to us.</p>
          <p class="pb-4">Sign up for a Wo'<span class="green">Pharma</span> account today and get <span class="red">10%
              discount</span> on every item purchased</p>
          <a href="#" class="c-link">Sign up today</a>
        </div>
      </div>
    </div>
  </div>
</section>
<span class="my-cart-button p-2">
  <a href="#" role="button" type="button" class="btn btn-dark button position-relative">
    <i class="fa-solid fa-cart-arrow-down"></i>
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">0
      <span class="visually-hidden">unread messages</span>
    </span>
  </a>
</span>
{% endblock content %}