{% extends 'hygeia/base.html' %}


{% block title %}Update Pharmacy{% endblock %}
{% block content %}
<section class="user pb-5">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg-10 bg-light">
                <p class="lead text-center p-3 text-dark fw-bold">
                    Update {{pharmacy.pharmacy_name}}
                </p>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="text-danger">
                            {{form.as_p}}
                            <div class="form-group text-center my-3">
                                <button class="btn btn-outline-danger" type="submit">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}